{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>facebook</title>
    <link rel="stylesheet" href="{% static 'css/universal.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Facebook</h1>
        
        <nav>
            <ul>
                <button><li><a href="/instagram">About</a></li></button>
                <button><li><a href="#content">Content</a></li></button>
            </ul>
        </nav>
    </header>

    <section id="about">
        <img src="{% static 'images/facebook.jpeg' %}" alt="Facebook Logo">
        <h2>About Facebook</h2>
        <p>Facebook is a social media and social networking service owned by the American technology conglomerate Meta. Created in 2004 by Mark Zuckerberg with four other Harvard College students and roommates Eduardo Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes, its name derives from the face book directories often given to American university students. Membership was initially limited to Harvard students, gradually expanding to other North American universities. Since 2006, Facebook allows everyone to register from 13 years old, except in the case of a handful of nations, where the age limit is 14 years. As of December 2022, Facebook claimed almost 3 billion monthly active users. As of October 2023, Facebook ranked as the 3rd most visited website in the world, with 22.56% of its traffic coming from the United States. It was the most downloaded mobile app of the 2010s.</p>
       
    </section>

    <section id="content">
        <div class="content-section">
            <h2>Content Overview</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ipsa, fugiat! Temporibus, reiciendis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ipsa, fugiat! Temporibus, reiciendis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ipsa, fugiat! Temporibus, reiciendis?</p>
        </div>
    </section>
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Name
                </th>
                <th>
                    Interests
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Tukhtamishev
                </td>
                <td>
                    Farukh
                </td>
                <td>
                    Programming
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Adhamov
                </td>
                <td>
                    Akbarali
                </td>
                <td>
                    Playing
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Tuxtasinov
                </td>
                <td>
                    Donyor
                </td>
                <td>
                    Sleeping
                </td>
            </tr>
            
        </tbody>
    </table>
    <footer>
        <p>&copy; 2024 lets get a rest</p>
    </footer>
    
</body>
</html>
