<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    
    </head>
    <body>
        <div class='container'>
            <h1 id='hello'>
                Welcome to Facebook
            </h1>
            <img src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"  width="300px" alt="There is a picture">
        <p class="hell">
            Facebook can be accessed from devices with Internet connectivity, such as personal computers, tablets and smartphones. After registering, <br>
             users can create a profile revealing information about themselves. They can post text, <br>
             photos and multimedia which are shared with any other users who have <br>
             agreed to be their friend or, with different privacy settings, publicly. <br>
             Users can also communicate directly with each other with Messenger, join common-interest groups, and receive notifications on the activities of their Facebook friends and the pages they follow. <br>
The subject of numerous controversies, Facebook has often been criticized over issues such as user privacy (as with the Cambridge Analytica data scandal), political manipulation (as with the 2016 U.S. elections) and mass surveillance. <br>
 Facebook has also been subject to criticism over psychological <br>
effects such as addiction and low self-esteem, and various controversies over content such as fake news, conspiracy theories, copyright infringement, and hate speech.[
        </p>
        <ul> 
            <l> <a href="{% url "telegram_path" %}"> Go to Telegram  </a> </l> <br>
            <l> <a href="{% url "wikipedi_path" %}"> Go to Wikipedia </a> </l> <br>
            <l> <a href="{% url "instagram_path" %}"> Go to Instagram  </a> </l> <br>
            <l> <a href="{% url "whatsapp_path" %}"> Go to Whatsapp  </a> </l>  <br>
            <l> <a href="{% url "facebook_path" %}"> Go to Facebook  </a> </l> <br>
            <l> <a href="{% url "linkedin_path" %}"> Go to linkedin  </a> </l> <br>
            <l> <a href="{% url "microsoft_path" %}"> Go to Microsoft  </a> </l> <br>
            <l> <a href="{% url "noname_path" %}"> Go to Noname  </a> </l> <br>
            <l> <a href="{% url "twitter_path" %}"> Go to Twitter  </a> </l> <br>
            <l> <a href="{% url "youtube_path" %}"> Go to YouTube  </a> </l> <br>
 
         </ul>
        </div>
    </body>
</html>