{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
       <div class='container'> 
        <h1 id='hello'>
            Information for instagram
        </h1>
        <h3>
            Let's gooo
        </h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg" width="100px" alt="Picture" >
        <p >
            Instagram is a free photo and video sharing app available on iPhone and Android. <br>
            People can upload photos or videos to our service and share them with their followers or with a select group of friends. <br>
             They can also view, comment and like posts shared by their friends on Instagram.
        </p>
        <ul> 
            <l> <a href="{% url "telegram_path" %}"> Go to Telegram  </a> </l> <br>
            <l> <a href="{% url "wikipedi_path" %}"> Go to Wikipedia </a> </l> <br>
            <l> <a href="{% url "instagram_path" %}"> Go to Instagram  </a> </l> <br>
            <l> <a href="{% url "whatsapp_path" %}"> Go to Whatsapp  </a> </l> <br>
            <l> <a href="{% url "facebook_path" %}"> Go to Facebook  </a> </l> <br>
            <l> <a href="{% url "linkedin_path" %}"> Go to linkedin  </a> </l> <br>
            <l> <a href="{% url "microsoft_path" %}"> Go to Microsoft  </a> </l> <br>
            <l> <a href="{% url "noname_path" %}"> Go to Noname  </a> </l> <br>
            <l> <a href="{% url "twitter_path" %}"> Go to Twitter  </a> </l> <br>
            <l> <a href="{% url "youtube_path" %}"> Go to YouTube  </a> </l> <br>
 
         </ul>
       </div>
    </body>
</html>