{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
        <div class='container'>
            <h1 id='hello'>
                Welcome to Linkeedin
            </h1>
            <img src="https://ru.wikipedia.org/wiki/SVG#/media/Файл:SVG_Logo.svg" alt="There is a picture">
        <p class="hell">
            About us
Founded in 2003, LinkedIn connects the world's professionals to make them more productive and successful. <br>
With more than 1 billion members worldwide, including executives from every Fortune 500 company, LinkedIn is the world's largest <br>
professional network. The company has a diversified business model with revenue coming from Talent Solutions,<br>
 Marketing Solutions, Sales Solutions and Premium Subscriptions products. <br>
Headquartered in Silicon Valley, LinkedIn has offices across the globe..
        </p>
        <ul> 
            <l> <a href="{% url "telegram_path" %}"> Go to Telegram  </a> </l> <br>
            <l> <a href="{% url "wikipedi_path" %}"> Go to Wikipedia </a> </l> <br>
            <l> <a href="{% url "instagram_path" %}"> Go to Instagram  </a> </l> <br>
            <l> <a href="{% url "whatsapp_path" %}"> Go to Whatsapp  </a> </l> <br>
            <l> <a href="{% url "facebook_path" %}"> Go to Facebook  </a> </l> <br>
            <l> <a href="{% url "linkedin_path" %}"> Go to linkedin  </a> </l> <br>
            <l> <a href="{% url "microsoft_path" %}"> Go to Microsoft  </a> </l> <br>
            <l> <a href="{% url "noname_path" %}"> Go to Noname  </a> </l> <br>
            <l> <a href="{% url "twitter_path" %}"> Go to Twitter  </a> </l> <br>
            <l> <a href="{% url "youtube_path" %}"> Go to YouTube  </a> </l> <br>
 
         </ul>
        </div>
    </body>
</html>